# Build and Release BASRI_AMD.
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/

# Other files and folders
.settings/

# Executables
*.swf.BASRI_AMD.
*.air.BASRI_AMD.
*.me.BASRI_AMD.
*.apk.BASRI_AMD.

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
